.board{
width: 165px;
height:165px;
background-color:grey;
}

.space{
height:50px;
width: 50px;
}

.tr{
border-style-bottom:1px solid black;
}

.br{
border-style-top:1px solid black;
}

.lr{
border-style-right:1px solid black;
}

.rr{
border-style-left: 1px solid black;
}
