.space{
height:50px;
width: 50px;
}
#00{
border-style-right:solid;
border-style-bottom:solid;
}
#01{
border-style-right:solid;
border-style-top:solid;
border-style-bottom:solid;
}
#02{
border-style-right:solid;
border-style-right:solid;
}
#10{
border-style-right:solid;
border-style-left:solid;
border-style-bottom:solid;
}
#11{
border-style:solid;
}
#12{
border-style-top:solid;
border-style-left:solid;
border-style-right:solid;
}
#20{
border-style-left:solid;
border-style-bottom:solid;
}
#21{
border-style-left:solid;
border-style-top:solid;
border-style-bottom:solid;
}
#22{
border-style-left:solid;
border-style-top:solid;
}
